.search-container {
  padding: 16px;
}

.results-container {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #eee;
  border-radius: 4px;
}

.full-width {
  width: 100%;
}

input[readonly] {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  width: calc(100% - 24px);
}

input[hidden] {
  display: none;
}
