<mat-horizontal-stepper [linear]="isLinear" #stepper labelPosition="bottom">
  <mat-step
    *ngFor="let step of steps; let i = index"
    [stepControl]="formGroups[i]"
  >
    <ng-template matStepLabel>{{ step.label }}</ng-template>
    <app-generic-form
      [formGroup]="formGroups[i]"
      [formConfig]="step.formConfig"
      [stepper]="stepper"
      [stepIndex]="i"
    ></app-generic-form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
