<div class="overall-container">
  <h2>Overall Ayojan Data</h2>
  <div class="global-counts-container">
    <app-count-card
      *ngFor="let count of globalCounts"
      [countData]="count"
    ></app-count-card>
    <div
      *ngIf="globalCounts.length === 0 && !(isLoading$ | async)"
      class="no-data"
    >
      No global data available.
    </div>
  </div>

  <div class="fy-selector-container" *ngIf="(isLoading$ | async) === false">
    <mat-form-field appearance="outline" class="fy-selector">
      <mat-label>Select Financial Year</mat-label>
      <mat-select
        [(ngModel)]="selectedFinancialYearId"
        (selectionChange)="onFinancialYearChange()"
      >
        <mat-option *ngFor="let year of financialYears" [value]="year.value">
          {{ year.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div
      *ngIf="financialYears.length === 0 && !(isLoading$ | async)"
      class="no-data"
    >
      No financial years available to select.
    </div>
  </div>

  <div *ngIf="isLoading$ | async" class="loading-container">
    Loading initial data...
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>
