// src/app/components/dashboard/count-card/count-card.component.scss

.count-card {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
  background-color: #e8eaf6;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.12);
  }

  h3 {
    color: #000000;
    font-weight: 600;
  }

  a {
    text-decoration: none;
    h1 {
      color: #000000;
      font-size: 2rem;
    }
  }
}