.full-width {
  width: 100%;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-column {
  display: flex;
  flex-direction: column;
}

.compact-form-field {
  transform: scale(0.9);
  transform-origin: center;
}
