<form [formGroup]="formGroup" class="form-grid">
  <div *ngFor="let column of columns; let i = index" class="form-column">
    <ng-container *ngFor="let field of column.fields; let j = index">
      <div class="compact-form-field" *ngIf="shouldShowField(field)">
        <label class="mat-label" [for]="field.name">{{ field.label }}</label>
        <ng-container [ngSwitch]="field.type">
          <!-- Checkbox and Radio outside mat-form-field -->
          <div class="checkbox-container" *ngSwitchCase="'checkbox'">
            <mat-checkbox [formControlName]="field.name" [id]="field.name">{{
              field.label
            }}</mat-checkbox>
          </div>
          <div class="radio-container" *ngSwitchCase="'radio'">
            <mat-radio-group
              [formControlName]="field.name"
              [id]="field.name"
              class="horizontal-radio"
            >
              <mat-radio-button
                *ngFor="let option of field.options"
                [value]="option.value ?? option"
                >{{ option.label ?? option }}</mat-radio-button
              >
            </mat-radio-group>
          </div>
          <!-- Reference field -->
          <div
            class="reference-field-error-wrapper full-width"
            *ngSwitchCase="'reference'"
          >
            <app-reference-field
              [formGroup]="formGroup"
              [controlName]="field.name"
              [labelField]="field.label"
              [fetchData]="getService(field.options).loadItems"
              class="full-width"
            ></app-reference-field>
          </div>
          <!-- Other fields inside mat-form-field -->
          <mat-form-field *ngSwitchDefault appearance="outline">
            <ng-container [ngSwitch]="field.type">
              <input
                *ngSwitchCase="'text'"
                matInput
                [formControlName]="field.name"
                [id]="field.name"
                [readonly]="field.readonly"
              />
              <input
                *ngSwitchCase="'number'"
                matInput
                type="number"
                [formControlName]="field.name"
                [id]="field.name"
              />
              <textarea
                *ngSwitchCase="'textarea'"
                matInput
                [formControlName]="field.name"
                [id]="field.name"
              ></textarea>
              <ng-container *ngSwitchCase="'date'">
                <input
                  matInput
                  [matDatepicker]="picker"
                  [formControlName]="field.name"
                  [id]="field.name"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <ng-container
                  *ngIf="registerDatePicker(field.name, picker)"
                ></ng-container>
              </ng-container>
            </ng-container>
          </mat-form-field>
        </ng-container>
        <mat-error
          appValidationMessage
          [formGroup]="formGroup"
          [controlName]="field.name"
        ></mat-error>
      </div>
    </ng-container>
  </div>
  <div class="right-aligned-container">
    <button mat-button type="button" (click)="back()">Back</button>
    <button mat-raised-button color="primary" type="button" (click)="next()">
      Next
    </button>
    <button mat-button type="button" (click)="reset()">Reset</button>
  </div>
</form>
