// src/styles.scss

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-mdc-form-field.mat-mdc-form-field .mat-mdc-form-field-infix {
  padding: 0 !important;
  height: 24px !important;
  min-height: 24px !important;
}
.mat-mdc-form-field-flex {
  padding: 0 !important;
  height: 24px !important;
  min-height: 24px !important;
}

.mat-mdc-form-field-infix {
  padding: 0 !important;
  height: 24px !important;
  min-height: 24px !important;
}

.mat-mdc-text-field-wrapper .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top:50% !important;
}