// src/styles.scss

/* You can add global styles to this file, and also import other style files */
@use './styles/variables' as v;
@use './styles/index' as *;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  background-color: v.$gray-bg;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}