/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.right-aligned-container {
  display: flex;
  justify-content: flex-end; /* Right aligns items horizontally */
  align-items: center; /* Vertically aligns items to the center (optional) */
  gap: 16px; /* Adds spacing between items (optional) */
  margin-top: 16px; /* Adds spacing above the container (optional) */
}

::ng-deep .cdk-overlay-pane.custom-modal-panel {
  position: fixed !important; /* allow free positioning */
  top: 10vh;
  left: 5vw;
  resize: both;
  overflow: auto;
  min-width: 400px;
  min-height: 300px;
  z-index: 1000;
}

::ng-deep .cdk-overlay-pane.custom-modal-panel {
  overflow: hidden !important;
}

::ng-deep .mat-mdc-dialog-container {
  overflow: hidden !important;
}

::ng-deep .mat-mdc-dialog-content {
  overflow: auto !important;
  max-height: calc(100vh - 200px); /* Adjust height to fit within viewport */
  padding-bottom: 16px; /* Space for pagination */
}

::ng-deep .mat-mdc-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

::ng-deep .dialog-header {
  padding: 16px;
  background: #f5f5f5;
  font-size: 18px;
  font-weight: bold;
}
